body {
  background-color: black;
  color: white;
}

main {
  max-width: 1000px;
	margin: 0 auto;
	padding: 90px 0;
}

.left {
	float: left;
	padding-top: 10px;
	padding-right: 15px;
	padding-bottom: 10px;
	max-width: 35%;
}

.right {
	float: right;
	padding-top: 10px;
	padding-left: 10px;
	padding-bottom: 10px;
	max-width: 35%; 
}
