nav {
 	padding-left: 60px;
  	padding-right: 60px;
  	border: none;
  	position: fixed;
  	right: 0;
  	left: 0;
  	top: 0;
  	background-color: gray;
  	text-align: right;
  	height: 50px;
}

.icon {
	height: 50px;
	margin-top: 5px;
	margin-bottom: 5px;
	vertical-align: middle;
	left: 10px;
	top: 0;
	border-radius: 50%;
	
}

.nav-list {
	display: inline-block;
	list-style: none;
}

div {
	position: relative;
}

main {
	width: 600px;
	height: 300px;
	border: 10px green dotted;
	position: relative;
	margin-top: 150px;
	padding-top: 30px;
	padding-bottom: 30px;
	margin-left: auto;
	margin-right: auto;
}

.box {
	width: 200px;
	height: 200px;
}

.spacecat {
	left: -25px;
	top: 0;
	position: absolute;
}

.spacedog {
	right: 0;
	bottom: 25px;
	position: absolute;
}

body {
  	background: url(../images/outerspace_landscape.jpeg) no-repeat;
  	background-size: cover;
}